body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:azure;
}

#Hero-Section {
    background-image: url("../imgs/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
  } 

  #header-h2 img {
      width: 6vh;
  }

  #boton-header:hover {
    background-color: #006666;
  }

  #header-h2 h2 h1 {
      width: 1vh;
  }

  #Acerca-de-mi {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: #006666;
  }

  @media (min-width:0px) and (max-width: 1002px) {
    
    .card-img-top{
        width: 10vh;
        height: 35vh;
    }



    #Hero-Section {
        background-image: none;
    }
}

#trabajos {
  background-size: cover;
}

.carousel-images{
  background-color: black ;
  margin: 0;
}

#carousel-cap-button  {
  background-color: gainsboro;
  opacity: 0.8;
  color:black;
}

#carousel-cap-button:hover {
  background-color: #006666;
  opacity: 1;
}


.form-control:hover{
  color: #006666;
}

#feedback {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  background-color: #006666;
}

a {
  text-decoration: none;
}